[2017-10-17 13:18] jcfr opened #1 "Create Icon"
* Re-use https://thenounproject.com/search/?q=vr&i=66615 and change the background circle with the [Slicer logo](https://www.slicer.org/wiki/Slicer3:Slicer3Brand#SVG).

[2017-10-17 13:27] jcfr opened #2 "windows: Fix packaging of OpenVR shared library"
The `.lib` is currently installed, it should be the `.dll`.

https://github.com/KitwareMedical/SlicerOpenVR/blob/17c78d31edd43fc686c2f38fed4a0212323c79ec/SuperBuild/External_OpenVR.cmake#L50-L52

The following code should be improved:

https://github.com/KitwareMedical/SlicerOpenVR/blob/17c78d31edd43fc686c2f38fed4a0212323c79ec/CMakeLists.txt#L48-L53

[2017-10-17 13:27] jcfr opened #3 "Add MacOS support"
If anybody would use MacOS for virtual reality and you already have virtual reality capable hardware then post a comment here. Also describe how can you contribute to the effort.

[2017-10-18 21:09] jcfr commented on #1
Fixed in https://github.com/KitwareMedical/SlicerOpenVR/commit/3d8490ebe1b2ebb527e51b5ebcf26f392d7f395c

[2017-10-18 21:09] #1 closed

[2017-12-08 17:45] markasselin opened #6 "Controllers & base stations are only rendered in the left eye"
Left Eye
![left-eye](https://user-images.githubusercontent.com/17535566/33778191-a2b991a0-dc15-11e7-9557-0507605770b8.PNG)

Right Eye
![right-eye](https://user-images.githubusercontent.com/17535566/33778192-a2caf3e6-dc15-11e7-9c1e-e2d688b0048d.PNG)

[2017-12-08 18:23] jbvimort commented on #6
Hello Mark!

Thanks for your interest in SlicerVR!

We actually encountered the same issue, it has been identified and addressed with this [hack ](https://github.com/jbvimort/Slicer/commit/4fab097ec7ed88958046cb568453a69071b86034) on Slicer.

Since it still hasn't been integrated to Slicer. For now cherry-picking this single commit and recompiling Slicer should solve the issue.

Tell me if it's no

[2017-12-08 18:29] markasselin commented on #6
@jbvimort Thanks for passing along the hack, I appreciate it. I will let you know if I have any problems with it.

[2017-12-08 18:44] markasselin opened #8 "vtkMRMLDisplayableManagerFactory.h is not found during Python wrapping"

[2017-12-08 18:48] markasselin opened #9 "Add mechanism to allow the user to rotate in the viewer"
Currently the user can only rotate by turning their head - there should also be a mechanism for them to rotate the viewer independently of their head.

Perhaps we could use the grip button on the VIVE controller for this purpose, and have the rotation done by rotating the controller with the grip button pressed.

[2017-12-08 18:54] markasselin opened #10 "Volume rendering is too bright"
In Slicer
![volumerendering-slicer](https://user-images.githubusercontent.com/17535566/33780598-53c1b334-dc1f-11e7-996f-0d3df60023d1.PNG)

In OpenVR on the HTC VIVE
![volumerendering-vr](https://user-images.githubusercontent.com/17535566/33780599-53cff5d4-dc1f-11e7-9903-67070a99315a.PNG)

[2017-12-08 18:59] markasselin opened #11 "Slicer crashes if we attempt to record OpenVR while VolumeRendering is enabled"
We tried recording some OpenVR footage that included a volume rendering using [OpenBroadcaster](https://obsproject.com/) and its [OpenVR plugin](https://obsproject.com/forum/resources/openvr-input-plugin.534/). Recording behaved as expected when showing models, slices, etc. If we included a volume rendering in the scene, starting recording caused Slicer to immediately crash.

[2017-12-08 19:02] markasselin opened #12 "Moving of objects should be done using transforms"
This will allow changes made in the VR viewer (i.e manipulating an object, etc) to be reflected across other views in Slicer.

[2017-12-08 19:08] markasselin opened #13 "DLL files are not located in the correct directory"
SlicerOpenVR depends on vtkRenderingOpenVR-8.1.dll and openvr_api.dll, but these are not copied to .\<BUILD-DIR>\inner-build\lib\Slicer-4.9\qt-loadable-modules\Release\ by default.

**Temporary workaround:** Manually copy the following files into \<BUILD-DIR\>\inner-build\lib\Slicer-4.9\qt-loadable-modules\Release\
- \<BUILD-DIR\>\bin\Release\vtkRenderingOpenVR-8.1.dll
- \<BUILD-DIR\>\OpenVR\bin\w

[2017-12-08 20:02] markasselin opened #14 "Volume renderings are clipped in VR"
Below is a screenshot generated using the CT-Cardio. The volume rendering is clipping, where the controller, and the giant green sphere (which is a segment) is not.

![volumerendering-clipping](https://user-images.githubusercontent.com/17535566/33782903-816975e8-dc28-11e7-9c99-e9f20991d783.PNG)

[2017-12-08 20:37] jcfr commented on #10
After talking with @martinken, this is explained by the  four lights [specific to the VR view](https://github.com/KitwareMedical/SlicerOpenVR/blob/df15bf8e2cb630b2c137a9830b0b2747c6144409/VR/Widgets/qMRMLVRView.cxx#L166-L194).

As soon as VTK volume rendering is improved to deal with this, we will make sure to update the Slicer extension.

[2017-12-08 20:39] jcfr commented on #13
Do you still have a problem after specifying the additional launcher settings:

Copied from the README:

[code]

[2017-12-08 20:42] jcfr commented on #12
Agreed.

We gave been discussing this.

First, the goal is to support the following:
* add objects under a transform
* enable 3D transform visibility

We first need to update some more VTK widgets to work in VR by supporting `double` based events.

Second, we would like to:
* better integrate controller interaction to automatically add a transform
* support scaling, translation, rotation directly

[2017-12-08 20:43] jcfr commented on #11
@martinken  : Do you have any experience with OpenBroadcaster ?

[2017-12-08 20:45] jcfr commented on #8
@jbvimort Did you experience this problem ?

[2017-12-08 20:46] jcfr commented on #6
Since this addressed the problem, I am not closing this issue.

[2017-12-08 20:46] #6 closed

[2017-12-08 20:47] jcfr commented on #14
@jbvimort Could you try to reproduce this ?

[2017-12-13 14:23] martinken commented on #11
No experience with OpenBroadcaster, I do know the volume rendering mapper does not work with multisampling. But usually the result is no image as opposed to a crash.

[2017-12-19 21:35] pieper opened #15 "how to get access / add functionality (ideally python)"
First: excellent work 👍

Second: I'm running a Slicer binary provided by Mark at Queens and I want to experiment with controls and widgets but it looks like nothing is exposed in python right now - is that true?

I realize I could compile from source and work in C++ but I'd prefer to write scripted modules.

[2017-12-19 22:06] jcfr commented on #15
Hi Steve,

Thanks for the note.

It should be possible to easily give access to the renderer from Python. Is
what you mean ?

Jc

On Dec 19, 2017 4:35 PM, "Steve Pieper" <notifications@github.com> wrote:

[2017-12-19 22:22] jcfr commented on #11
@jbvimort should be able to have a look.

On Dec 13, 2017 9:24 AM, "Ken Martin" <notifications@github.com> wrote:

[2017-12-20 01:02] pieper commented on #15
Hi @jcfr - I was thinking it would be great to query the controller locations, get vtk events one button presses, that sort of thing.  In Slicer we may want to mirror those values in MRML nodes but for initial experimentation we could make a lot of progress with some simple accessor methods.

For example at this point the camera controls are workable, but pretty simple.  And is there any connectio

[2017-12-20 23:27] mattjolley commented on #15
We would benefit from this as well (again via the binary from Mark/the PERK group)

[2018-01-03 23:37] mattjolley commented on #10
We have noticed this as well.  Thank you for taking a look at it.

[2018-01-09 17:11] adamrankin opened #16 "Hardcoded VTK8 in vtkRenderingOpenVR superbuild"
With the jbvimort fork using VTK9, this prevents a successful build of the extension without manual building of vtkRenderingOpenVR in VTK9.

[2018-01-09 17:19] jcfr commented on #16
This should be fixed in https://github.com/KitwareMedical/SlicerOpenVR/pull/7

[2018-01-09 17:19] #16 closed

[2018-01-11 12:46] jcfr commented on #10
After further discussion with @sankhesh  and @martinken, the issue is most likely related to two sided lighting and is not specific to OpenVR.

To address this, a new option was added to VTK OpenGl2 mapper:
* https://gitlab.kitware.com/vtk/vtk/blob/5022590e19effc52c4ef6b5152c1e3c0691d64cb/Rendering/VolumeOpenGL2/vtkVolumeShaderComposer.h#L607-614
* https://github.com/Kitware/VTK/blame/master/Rende

[2018-01-11 12:49] jcfr commented on #10
After:
* address VTK issue preventing it from building. [VTK fails to build with -DModule_vtkRenderingFreeTypeFontConfig:BOOL=ON and Python wrapping](https://gitlab.kitware.com/vtk/vtk/issues/17217)
* updating the version of VTKv9 in Slicer
* enabling VTKv9+Qt5 in the Windows build
* Updating Slicer to include [this patch](https://github.com/Slicer/Slicer/commit/4fab097ec7ed88958046cb568453a69071b

[2018-01-11 13:47] mattjolley commented on #10
@jcfr
<After further discussion with @sankhesh and @martinken, the issue is most likely related to two sided lighting and is not specific to OpenVR.>

@markasselin deleted two of the lights (of four?) and the VIVE image mirrored that of the computer screen, suggesting your hypothesis above was correct.

[2018-01-11 23:30] mattjolley commented on #10
@jcfr
@markasselin
Should we set the default for VR to 2 lights somehow or add option for that to the GUI?  Maybe this has already been done.  Thank you.

[2018-01-17 00:13] cpinter commented on #10
@markasselin As far as I remember you fixed this. If so can you close it? Thanks

[2018-01-17 00:14] cpinter opened #18 "Exclude VR view from main layout management"
Node reference parentLayoutNodeID in view nodes
* None by default, meaning main layout. Set to node (e.g. itself) to indicate it’s standalone and should not be managed
* Abstract layout node class
  * Current layout node and the new VR layout node will be its child classes
  * VR “layout” may contain HUD-like objects such as slice views or charts that are positioned and kept stationary in the VR v

[2018-01-17 00:15] cpinter commented on #18
@jcfr Please assign this to me (or give me right to do it). Thanks!

[2018-01-17 00:49] jcfr commented on #18
You know have push access to the repo.

[2018-01-17 00:52] jcfr commented on #10
We need the four lights for everything expect Volume Rendering.

Now that Slicer is building against on updated VTKv9, it is now possible to set `TwoSidedLighting` renderer property that should help.

[2018-01-17 00:55] cpinter commented on #18
Perfect, thank you!

[2018-02-03 16:09] cpinter commented on #18
Integrated in https://github.com/Slicer/Slicer/commit/2e316564d343be446c7f8251ec86430661566e17

I just opened a PR to SlicerOpenVR: https://github.com/KitwareMedical/SlicerOpenVR/pull/20

After this (and after solving the extension packaging issues) SlicerOpenVR will work with Slicer master as is.

[2018-02-06 23:24] jcfr commented on #15
@pieper :  Thanks to @cpinter , you can now get a reference to [qMRMLVRView](https://github.com/KitwareMedical/SlicerOpenVR/blob/6308d6ad664044ea501126a3594155de62677535/VR/Widgets/qMRMLVRView.h) using [vrWidget()](https://github.com/KitwareMedical/SlicerOpenVR/blob/6308d6ad664044ea501126a3594155de62677535/VR/qSlicerVRModuleWidget.h#L41) functions.

For example:

[code]

Note that in the near futu

[2018-02-06 23:24] #15 closed

[2018-02-06 23:25] jcfr commented on #18
Closing. This was fixed in https://github.com/KitwareMedical/SlicerOpenVR/commit/6308d6ad664044ea501126a3594155de62677535

[2018-02-06 23:25] #18 closed

[2018-02-06 23:28] cpinter commented on #15
Absolutely. I think I wanted to keep [this](https://github.com/KitwareMedical/SlicerOpenVR/blob/16dcd1196272353e9856ec82568fde07ddac21a0/VR/qSlicerVRModuleWidget.cxx#L98-L103) naming convention

[2018-02-06 23:34] pieper commented on #15
👍

[2018-02-07 14:25] cpinter commented on #15
Few snippets that work for me and may be helpful:

[code]

[code]

[2018-02-07 14:44] pieper commented on #15
That's helpful @cpinter !

Is it also possible to show and example of adding observers to the controller buttons and getting out the controller transform?

[2018-02-07 14:59] cpinter commented on #15
It would be very useful indeed and I want to have these too. I am still working on more low-level issues, such as that VTK does not handle the Oculus controller (I use an Oculus nowadays), or multi-volume rendering in Slicer.
In the meantime I can give pointers where in the VTKRenderingOpenVR code the interactions are handled that need to be exposed.

[2018-02-07 15:06] pieper commented on #15
Thanks - No rush - just curious!

[2018-02-07 16:45] jcfr commented on #15
Thanks @cpinter , added a "Python snippet" section to the README file. See https://github.com/KitwareMedical/SlicerVirtualReality/blob/master/README.md#useful-python-snippets

[2018-02-07 16:49] cpinter commented on #15
Great! I was thinking about adding this to the Slicer script repo, but it doesn't belong there. This way is perfect, thanks!

[2018-02-08 19:01] pieper commented on #2
I can confirm that if I manually copy openvr_api.dll into the qt-loadable-modules directory the VR extension loads and works as expected with today's nightly.

[2018-02-08 20:06] jcfr commented on #2
Thanks for the note. We will fix he install rules.

On Feb 8, 2018 2:01 PM, "Steve Pieper" <notifications@github.com> wrote:

[2018-02-11 17:46] mattjolley commented on #10
We have been working with volume rendered echo in VR and can confirm the issue still exists for volume rendered objects (with 4 lights), but that the VR images look great for non-volume rendered surfaces such as segmentations (with the 4 lights).

Having the option in the volume rendering module GUI might be a good way to address this.

One thing it does not address is sometimes we mix volume rend

[2018-02-15 04:58] lassoan commented on #11
We've figured this out: OBS Studio only crashes if NVidia hardware-based compression is used. If CPU-based video compression option is chosen then recording works well.

[2018-02-15 05:04] lassoan commented on #13
This issue is duplicate of #2

[2018-02-15 05:06] jcfr commented on #2
Closing. Fixed by https://github.com/KitwareMedical/SlicerVirtualReality/pull/23

[2018-02-15 05:06] jcfr commented on #13
Closing. Fixed in https://github.com/KitwareMedical/SlicerVirtualReality/pull/23

[2018-02-15 05:06] #13 closed

[2018-02-15 05:06] lassoan commented on #8
I haven't noticed this.

@markasselin Was it an error or warning? Build-time or run-time?

[2018-02-15 05:56] lassoan commented on #10
@jcfr Do I understand correctly that the solution is to have a scene with better lighting is:
1. remove the [extra lights](https://github.com/KitwareMedical/SlicerVirtualReality/blob/df15bf8e2cb630b2c137a9830b0b2747c6144409/VR/Widgets/qMRMLVRView.cxx#L166-L194)
2. enable TwoSidedLighting option somewhere [here](https://github.com/KitwareMedical/SlicerVirtualReality/blob/df15bf8e2cb630b2c137a9830b0

[2018-02-18 21:16] markasselin commented on #8
This was a build error that we fixed by temporarily disabling python wrapping for that class. I ran a rebuild this morning - the issue is fixed so I will close this ticket.

[2018-02-18 21:16] #8 closed

[2018-02-20 06:15] #10 closed

[2018-02-20 06:24] #11 closed

[2018-02-20 06:41] jcfr commented on #14
After investigating with @martinken, it looks like the issue is not specific to OpenVR. It can be reproduced in Slicer by enabling volume rendering and setting view angle to `130`.

[code]

[2018-02-24 18:57] cpinter commented on #2
I did a clean build of SlicerVirtualReality and neither openvr_api.dll nor vtkRenderingOpenVR-9.0.dll were copied to the inner-build/.../qt-loadable-modules/Release, so Slicer could not load the extension.

If this was supposed to be fixed by this ticket then it should be reopened. Thanks!

[2018-02-24 19:00] jcfr commented on #2
Thanks for the report. Unless someone address the issue earlier, I will have a look as soon as I am back in the office.

[2018-02-26 22:40] mattjolley commented on #14
We are noticing this as well.  Any update?

[2018-02-27 21:24] jcfr commented on #14
For reference, this is now tracked here: https://issues.slicer.org/view.php?id=4511

[2018-03-05 19:55] jcfr commented on #2
Indeed, for a build tree, you need to pass the `--launcher-additional-settings` flag

Do you have issue with the package installed from the extension manager ?

[2018-05-03 20:28] lassoan opened #27 "Expose controller position in the MRML scene"
Add transforms to the MRML scene that contain the current pose of each controller. Maybe also make these transform nodes invoke events as user presses buttons of the controllers.

Mapping controller pose to transform would make many tasks trivial, such as visualizing controllers in the MRML scene, reslicing volumes, clipping models, etc.

[2018-05-03 20:49] lassoan opened #28 "Oculus Rift controllers do not work"
One user reported that Oculus Rift controllers do not work. Probably it is because Oculus Rift controllers generate different events than HTC Vive and Windows Mixed Reality controllers.

Maybe this will be fixed at some point either in OpenVR (so that Oculus Rift uses that same events as other controllers) or in VTK (by explicitly handling Oculus Rift controller events).

[2018-05-04 14:09] adamrankin commented on #12
See also #27

[2018-05-07 02:46] lassoan opened #30 "Allow show/hide controllers"
Currently, `this->InteractorStyle->ToggleDrawControls();` is called in `qMRMLVirtualRealityViewPrivate::createRenderWindow()` to show/hide controllers.

In some cases, it is good to have a simple way of showing models of the controllers in the VR scene. While in other cases, you want to hide them and show custom models or other nodes instead.

Instead of hardcoding this, visibility should be possi

[2018-05-07 17:57] jcfr commented on #28
Could you create an issue in [VTK issue tracker](https://gitlab.kitware.com/vtk/vtk/issues) ?

Cc: @martinken

[2018-05-07 19:55] jcfr commented on #27
@agirault @martinken @LucasGandel Does this approach sound reasonable to you ?

[2018-05-07 20:30] lassoan commented on #27
Update transformation matrix in a MRML transform nodes is a pretty lightweight operation, since only those components get notified about changes that added an observer specifically to that.

[2018-05-08 15:04] jcfr commented on #14
Thanks @sankhesh  for figuring things out :+1:

[2018-05-08 17:12] lassoan commented on #14
Yes, virtual reality works so well since the fix has been implemented!

Unfortunately, there is a small but in some use cases very distracting regression related to clipping - see details here: https://issues.slicer.org/view.php?id=4548. @sankhesh it would be great if you could have a look at it. Maybe it's a trivial fix.

[2018-05-09 20:32] sankhesh commented on #14
@lassoan Sounds good. We can take a look to see if it is a quick fix.

[2018-05-09 21:57] lassoan commented on #14
Thank you! I've sent standalone example to Aashish that reproduces the problem using one of the VTK tests.

[2018-05-15 17:58] lassoan opened #31 "Allow changing size scale using a slider"
Currently, scale is determined from the distance from the camera focal point, but instead the scale should be possible to set directly (by default 1.0x = object appear as in real life).

[2018-05-15 18:00] lassoan commented on #31
@jcfr, could you please add salchoueib (Sal Choueib, an intern at the PerkLab) to the project? He would work on this issue.

[2018-05-15 18:03] jcfr commented on #31
Of course, could you either ask thet he/she create an account on GitHub or check if there is a typo in the username ? The following page doesn't seem to exist: https://github.com/salchoueib

[2018-05-15 18:13] jcfr commented on #31
All set. @salehchoueib was added as a collaborator with Write access.

[2018-05-15 18:15] lassoan commented on #31
Great, thank you!

[2018-05-15 18:18] lassoan commented on #31
@jcfr I cannot assign this issue to @SalehChoueib. Could you check what could be the problem?

[2018-05-15 18:27] jcfr commented on #31
@SalehChoueib first needs to accept the invite:

![image](https://user-images.githubusercontent.com/219043/40076123-137c71a2-584c-11e8-85e9-68cda3bf93b1.png)

[2018-05-15 19:12] lassoan commented on #31
Oh, yes, he accepted it and it is all good now! Thanks.

[2018-05-24 02:32] bluels opened #32 "Build error"
Error:
CMake Error at D:/slicerbuild64d1/VTKv9/CMake/vtkModuleAPI.cmake:120 (message):
Requested modules not available:
 vtkRenderingOpenVR
 Call Stack (most recent call first):
D:/slicerbuild64d1/VTKv9-build/VTKConfig.cmake:76 (vtk_module_config)
VirtualReality/Widgets/CMakeLists.txt:6 (find_package)

do i need to rebuild slicer? how to enable the vr module in slicer (debug 64), new to this, need

[2018-05-24 02:35] lassoan commented on #32
SlicerVirtualReality requires Qt5 / VTK9 / OpenGL2 rendering backend.

[2018-05-25 05:35] bluels commented on #32
thanks!  i use the command below to start slicer.  but when i click the extension button，the slicer crash.
./Slicer.exe  --launcher-additional-settings C:\path\to\SlicerVirtualReality-build\inner-build\AdditionalLauncherSettings.ini --additional-module-paths C:\path\to\SlicerVirtualReality-build\inner-build\

the error is:
 An OpenGL Core Profile was requested, but it is not supported on the curre

[2018-05-25 16:18] lassoan commented on #32
Do you use the SlicerVirtualReality extension with a Slicer that you built?

Did you build Qt or downloaded pre-built Qt? Have you selected to install WebEngine component when you installed Qt?

[2018-05-25 16:19] lassoan commented on #32
If you keep having problems with WebEngine then you may disable building extension manager when you configure you Slicer build.

[2018-05-25 16:28] cpinter commented on #32
This is probably not related to the error you get but the "--additional-module-paths C:\path\to\SlicerVirtualReality-build\inner-build\" won't be enough to load the module. You'll need "...inner-build\lib\Slicer-4.9\qt-loadable-modules\Release", and you need to make sure that the folder of the openvr_api.dll and vtkRenderingOpenVR-9.0.dll are also included (because they are still not deployed to t

[2018-05-25 18:11] lassoan commented on #32
These are also described in the readme file - https://github.com/KitwareMedical/SlicerVirtualReality#for-developers

[2018-05-30 06:01] bluels commented on #32
Really thanks for all your response！
@lassoan
1.yes, i use the SlicerVirtualReality extension with a Slicer that i built.
2. i use the downloaded pre-build qt (the version: qt-opensource-windows-x86-5.10.1, Path:Qt5.10.1\5.10.1\msvc2015_64\bin, i also change vs2013 to vs2015), and i have selected the WebEngine component when  installed Qt.

the question is solved successfully by change the path “-

[2018-05-30 06:01] #32 closed

[2018-06-02 02:17] lassoan commented on #27
Controller pose is now available in the scene. Button presses do not generate events (may be implemented in the future).

[2018-06-02 02:17] #27 closed

[2018-06-02 04:10] lassoan opened #33 "Not all slice views are displayed"
When slice views are linked and slice display in 3D view is enabled then not all slices show up in the VR view.

[2018-06-02 12:52] pieper opened #34 "Add button state as attributes of controller MRML transforms"
This would allow modules to define custom behaviors and controller actions, which would significantly enhance the utility of SlicerVR (for example allowing scripted code to do basically everything a loadable module can do).

Child of #27

[2018-06-18 16:12] cpinter opened #36 "Expose current pose of VR camera as a linear transform node"
* Add model of a headset or a person's head wearing a headset
* Whenever the VR camera changes, set parent transform of the avatar model so that it is in the same position
* Need to be able to specify which views show the avatar

[2018-06-18 16:21] cpinter opened #37 "OpenGL context issues when observing the VR camera"
If the VR camera is observed, and the callback makes changes in the MRML scene, then the OpenGL context produces strange symptoms, such as showing nothing, or even a previously shown scene in one VR view while the other is showing the proper scene.

To reproduce:
* Add observation to VR camera
[code]
* Set a matrix
[code]

If a QTimer.singleShot triggers a function that does this calculation and S

[2018-06-18 18:28] cpinter commented on #36
Yes it could be a good generic solution and the applications could decide what to do with the transform exactly.

[2018-08-23 17:10] #2 closed

[2018-09-11 15:33] cpinter opened #40 "Closing the scene while VR is running makes VR unusable afterwards"
The previous scene is shown in VR even if VR is started/stopped or hardware disconnected/connected, and there is no head tracking or any VR feature.

[2018-09-11 19:11] cpinter commented on #12
Moving objects using transforms has been implemented in https://github.com/KitwareMedical/SlicerVirtualReality/commit/503ef1d300f179acbc5069b53482790a0d01db33

[2018-09-11 19:11] #12 closed

[2018-09-11 19:19] cpinter opened #41 "Volume rendering does not show up if other data is shown"
In this scene there are models, segmentations, volume slices, and a volume rendering, but the volume rendering does not show up in VR:
https://www.dropbox.com/s/idf6be25x10vobg/20180911_VR_VolumeRenderingNotShowingBug.mrb?dl=0

[2018-09-26 21:37] cpinter commented on #28
The problem has been fixed in VTK by this commit
https://gitlab.kitware.com/vtk/vtk/commit/a6fc9e520b6bf2722bf1a113c2aba7189bfac592

[2018-09-26 21:37] #28 closed

[2018-09-26 21:41] cpinter commented on #33
Note: The missing slice views appear when we move a node in the scene from VR (using grab)

[2018-10-01 18:13] cpinter opened #42 "Crash if VR module is opened after VR is started"
Crash happens when setting the icon: https://github.com/KitwareMedical/SlicerVirtualReality/blob/master/VirtualReality/qSlicerVirtualRealityModule.cxx#L229

[2018-10-02 14:31] cpinter commented on #31
Feature is functional in commit https://github.com/KitwareMedical/SlicerVirtualReality/commit/a8f3d8674da442af6c23713bba0b1ea584480d43

Issue can be closed after bumbing the extension index hash, which can be done once the merge request https://gitlab.kitware.com/vtk/vtk/merge_requests/4726 is integrated, and VTK in Slicer updated to include that commit.

[2018-10-02 14:55] cpinter commented on #9
Feature added in commit https://github.com/KitwareMedical/SlicerVirtualReality/commit/290beba8443b0bfa7ff86f6872a809e2fd8b5e2d

The difference between what is implemented and what @markasselin described is that instead of using one controller's grip, both controller's grip needs to be used to enter the free-form world manipulation mode. If the user holds both grip buttons, then those controller po

[2018-10-02 19:52] cpinter commented on #42
Should be fixed by this check (the crash was a stack overflow due to circular updates because of magnification change):
https://gitlab.kitware.com/vtk/vtk/commit/8272090ec26cb7c64122fa32aeb48962883dd0c2#46cb2ef5ad91ed5e05e3a2830578cebd380c6f49_862_864
I'll close this if I don't get the crash for a while.

[2018-10-03 12:40] #9 closed

[2018-10-03 12:40] #31 closed

[2018-10-03 16:22] cpinter opened #43 "Add interactive Qt panel to VR scene"
A very flexible way for showing menus in VR would be to implement off-line rendering of any Qt widget in a texture that is shown on a VTK plane actor, which can respond to virtual mouse events generated by the laser pointer (currently called probe mode in VTK) in VR.

Tasks that need to be done, start with first and only move to next one once it is done.
- [x] Generate 2D texture with Qt of arbitr

[2018-10-03 16:30] pieper commented on #43
💯 this will be a great feature!

[2018-10-04 16:03] adamrankin opened #44 "Find_Package(SlicerVirtualReality) failure, missing VTK component"
When configuring an extension that depends on SlicerVirtualReality, I get the following message:

Error message:

[code]

[2018-10-04 16:11] cpinter commented on #44
I got this all the time when my build was not a clean build and when I built from the command line not VS. If you open the superbuild solution in VS and build from there it should work.

[2018-10-04 16:31] cpinter commented on #44
Right. I only use it from a python-only extension and it's not an issue there, so I don't have any working examples for this.

Maybe we need to specify it somewhere in the SlicerVR CMake?

[2018-10-04 16:34] adamrankin commented on #44
Huh, a clean build worked. I wonder if it has to do with adding vtkRenderingOpenVR as an external module.

[2018-10-04 16:34] #44 closed

[2018-10-05 13:08] cpinter opened #45 "Prevent Pinch3D from doing "unexpected" transformations"
Based on the feedback of the few people who tried Pinch3D (grab world by both controllers then transform), sometimes unexpected transformations occur.
The reason for this is that their hand motion when they intend to rotate the world does not correspond well to an actual translation but more like a shearing (only movement of hands, for example one forward one backwards, but no rotation, so the axe

[2018-10-09 17:56] cpinter opened #46 "Disable backface culling when VR is initialized"
Clipping occurs in VR very often, i.e. when moving your head close to a model. In this case, if backface culling is enabled (as is by default), then you can see through the model although there is a back side of it in front of you.

I propose changing the backface culling to false in the default model display node, and also in all existing model display nodes in the scene when VR is initialized.

[2018-10-09 17:59] cpinter opened #47 "Add subject hierarchy plugin to disable selectable flag"
The selectable flag has existed for a long time in Slicer, but VR is currently the only place it is actually used as far as I know. The user might want to disable it, for example if some objects in the scene are interactive and others aren't (see pedicle screw placement when you don't want the vertebrae to be movable by the user only the screws).

I propose adding an SH plugin that would add a men

[2018-10-09 18:16] pieper commented on #47
yes - that makes sense to me.  That's more-or-less what the original intent of the flag meant, so it would be great to see it used.

[2018-10-09 18:18] jcfr commented on #46
Should back face culling be disabled only in object represented in VR world or in both regular 3D view and VR ?

[2018-10-09 18:31] pieper commented on #46
I think only disabling backface culling VR by default would be best, since it could be a performance hit on slower graphics cards.  It could make sense to have an button to turn it on or off on all models in the Models module.

We should also be able to use the BackfaceProperty option on the actors so that it would be visually clear when you are seeing the inside of a model.  I haven't used this b

[2018-10-09 18:38] adamrankin commented on #46
There is some discussion on the internet about the performance impact of backface culling, and it seems that it's situational. For scenes with large amounts of polygons in a relatively small screen space area, back-face culling has a high impact. This might be the case if someone is zoomed out to view a complex brain structure. Zoomed in, the performance impact of backface culling would be minimal

[2018-10-09 18:47] lassoan commented on #46
OpenGL2 backend made vtkPolyData rendering about a magnitude faster (have not profiled it, it's just an estimate), so probably even 2x slower rendering due to backface culling would be still way faster than OpenGL1 rendering backend.

I've been thinking about disabling backface culling by default to reduce user confusion in various use cases other than virtual reality (e.g., when transforms are ap

[2018-10-09 18:59] jcfr commented on #46
I am curious to known what are the thoughts of @martinken

[2018-10-09 19:09] pieper commented on #46
Yes, I think a subtle pattern would be nice.  This should be trivial in a fragment shader if the right hooks exist - I agree it may not be supported currently.  Otherwise yes, just making it darker would be a reasonable cue.  The best thing depends on the use case, so leaving it programmable is best.

The other issue is opacity - if you turn off backface culling and don't use depth peeling things

[2018-10-09 19:12] cpinter commented on #46
I tried to turn depth peeling on/off and it seems to have no effect in VR, only in the regular 3D view. Not sure why.

[2018-10-09 19:29] lassoan commented on #46
Depth peeling was broken in VTK for a long time. Now it works well and with depth peeling you actually want to see all sides of transparent models. Without that, intersection of back side of models is simply not correctly displayed.

[2018-10-10 16:54] cpinter commented on #46
How about this:

I add an "Optimize scene for VR" button on the toolbar and in the module, which does certain changes that improve VR experience. Currently:
* Turn off backface culling for all models and make default model display node also disable backface culling
* Turn off slice intersection visibility for all models and segmentations (apply in default display nodes)

Later we can add options f

[2018-10-11 19:31] cpinter commented on #41
It seems that the issue occurs with the scene above, but when constructing a new scene, it works. Need to check if it's about loading a scene with volume rendering in it.

[2018-10-12 15:15] cpinter opened #48 "Model hierarchy properties are ignored in virtual reality view"
Model hierarchy properties not applied in VR: when color or opacity is set through a model hierarchy node, the model's individual color and opacity is shown despite they showing up correctly in a regular 3D view

[2018-10-12 15:22] #47 closed

[2018-10-12 21:29] lassoan commented on #48
Why is this happening and why don't we want to fix it?

[2018-10-13 13:50] cpinter commented on #48
This particular issue with the model hierarchies I don't have capacity to fix among the more important VR issues and all the other projects I'm working on. To me it does not seem important enough to spend hours trying to figure out why this traditionally buggy feature does not work in VR.

However I wanted to record this somewhere.

[2018-10-13 13:56] lassoan commented on #48
I agree that it is not a very commonly used feature (only important for viewing large atlases).

VR uses the same displayable managers as non-VR views. It is odd that they behave differently.

[2018-10-13 16:18] pieper commented on #48
Agreed that the modelhierarchy visualization features have always been buggy.  Since dissemination of atlases is moving to openanatomy.org we should consider removing any special features for that use case that are hard to maintain.

[2018-10-13 17:55] cpinter commented on #48
There is something wrong with how actors are added or set up in the VR renderer. I'll look into the slice view display issue ([#33](https://github.com/KitwareMedical/SlicerVirtualReality/issues/33
)) next week. There is a small chance that the root of that problem is connected to the volume rendering not showing up ([#41](https://github.com/KitwareMedical/SlicerVirtualReality/issues/41)) and with

[2018-10-22 14:15] cpinter opened #51 "Two-handed manipulation of MRML objects"
Same way as Pinch3D works for world manipulation.

[2018-10-22 14:17] cpinter opened #52 "Turntable rotation around scene"
Left and right touchpad press is still available, which we could use for "turntable" rotation. It means the camera dollying on a circular track around the scene (the focal point), always looking at the same focal point.

[2018-10-22 14:20] cpinter opened #53 "Volume clipping with sphere and cube"
Clipping object attached to controller which clips inside all objects shown.
This mode can be turned on in the VR UI (see #43).

Previous work:
https://na-mic.github.io/ProjectWeek/PW28_2018_GranCanaria/Projects/MultiVolumeRendering/

[2018-10-22 14:28] pieper commented on #53
This will be fun 😄

FYI @drouin-simon

[2018-11-26 01:34] #45 closed

[2018-11-26 01:35] lassoan commented on #42
I haven't experienced this crash anymore.

[2018-11-26 01:35] #42 closed

[2018-11-26 01:49] lassoan commented on #41
The issue is in the scene. For display node (vtkMRMLGPURayCastVolumeRenderingDisplayNode2) "ViewNodeIDs[0]: vtkMRMLViewNode1" is specified. If there are no other 3D view nodes, then on the GUI this appears as "All". However, if you add a new 3D view, the specified node ID will prevent the volume to appear on any other view (and on the GUI "All" is not replaced by "View1").

The behavior is not ide

[2018-11-26 01:49] #41 closed

[2018-11-26 03:13] #30 closed

[2018-11-26 04:18] lassoan commented on #33
The issue was caused by a bug in Slicer core that has now been fixed.

[2018-11-26 04:18] #33 closed

[2018-11-26 13:54] pieper commented on #34
Exposing the state would be a good place to start, and then events can be generated when state changes.  I think it would be good to expose the event history as state (list of timestamped events) so that modules can react to complex events without storing the state themselves.  We should look at some concrete use cases.

[2018-11-28 05:38] lassoan opened #54 "Switch to GPU volume rendering when Optimize scene for VR button is clicked"
By default, volume rendering method uses CPU. When "Optimize scene for VR" button is clicked then we should switch all volume renderers to use GPU.

[2018-12-10 21:03] adamrankin opened #55 "Setting vtkOpenVRRenderWindow::TrackHMD to false stops rendering"
Based on the name and a quick look at the code, rendering should continue, but the headset should no longer drive the virtual camera.

Will continue to investigate, but would very much appreciate any help/insight.

[2018-12-17 03:40] lassoan opened #57 "Add Linux support"
If anybody would use Linux for virtual reality and you already have compatible hardware then post a comment here. Also describe how can you contribute to the effort.

[2018-12-17 03:41] lassoan commented on #3
TODO: Fix packaging of OpenVR framework

Since `OpenVR.framework` is a directory, it should be installed as such.

https://github.com/KitwareMedical/SlicerOpenVR/blob/17c78d31edd43fc686c2f38fed4a0212323c79ec/SuperBuild/External_OpenVR.cmake#L52-L54

The following code should be improved:

https://github.com/KitwareMedical/SlicerOpenVR/blob/17c78d31edd43fc686c2f38fed4a0212323c79ec/CMakeLists.txt#L4

[2019-01-07 17:07] adamrankin opened #58 "Add ability to hide/show tracking references"
Collaborating researcher needs to present a clean VR experience for vision research.

Add hide/show functionality for Lighthouse models
<optional> Add UI element to control this functionality

[2019-01-07 19:22] adamrankin commented on #58
@lassoan @cpinter @jcfr should I add a UI element to this option?

[2019-01-07 19:47] lassoan commented on #58
I guess Adam means that we should hide the models of the HTC lighthouses:

![](https://cdn0.vox-cdn.com/thumbor/qU3FsPI8cVtfEu1nZRElzuN6zuE=/800x0/filters:no_upscale()/cdn0.vox-cdn.com/uploads/chorus_asset/file/6288631/Vive-Lighthouses.0.jpg)

[2019-01-07 19:52] jcfr commented on #58
Gotcha. Make sense :+1:

[2019-01-07 20:10] adamrankin commented on #58
https://github.com/ValveSoftware/openvr/blob/master/headers/openvr.h#L195

[2019-01-07 20:11] adamrankin commented on #58
MRML is done, adding GUI now

[2019-01-07 20:43] adamrankin commented on #58
See https://github.com/KitwareMedical/SlicerVirtualReality/pull/59

[2019-01-08 14:53] #58 closed

[2019-01-09 17:50] adamrankin commented on #36
I second the exposing VR camera transform as a transform node. I will look into it after I finish up this data collection module.

[2019-01-09 17:54] adamrankin opened #60 "Parameters in module UI are not intuitively clear"
I realize that intuitive is a subjective term, but it wasn't clear to me what a parameter meant until I asked for clarification.

The term "Magnification:" makes sense once you know what it does, but is ambiguous before that. I would perhaps consider altering the UI text to be a bit more clear. Perhaps "Magnify VR <scene|view> by factor:" or similar.

The term "Motion speed:" is not bad, but perha

[2019-01-09 19:45] adamrankin opened #61 "Python wrapping of vtkOpenVR*/SlicerVirtualReality"
This is just a ticket to track any progress towards python wrapping of vtkOpenVR classes. @jcfr you had followed up with this, and there was a solution in VTK and a MR in progress

You had pushed changes to https://github.com/Slicer/VTK/tree/slicer-v8.2.0-2018-10-02-74d9488523

However, I am still unable to access vrView().renderWindow() correctly

[2019-01-09 19:47] adamrankin commented on #61
This may be because I am in a developer build. Let me investigate a bit.

[2019-01-09 19:52] adamrankin commented on #61
Hmm, have all DLL and pyd files in PATH or PYTHONPATH locations, still not available.

[2019-01-09 21:36] lassoan commented on #61
VTK is completely reworking its module system (changes have just been integrated into VTK master). OpenVR is a special case, as it is an external module hosted in the main VTK repository. This use case most likely will not be supported anymore. So I'm not sure if it is worth spending any time with improving the current Python wrapping infrastructure.

Can you survive with workarounds (adding metho

[2019-01-09 21:43] jcfr commented on #61
That said, we plan to integrate support for this in the VTK release anyway. See https://gitlab.kitware.com/vtk/vtk/merge_requests/4986

It is expected to work.

[2019-01-10 14:35] adamrankin commented on #61
Yup!

[2019-01-10 15:51] #36 closed

[2019-01-17 02:58] adamrankin opened #64 "PYTHON_LIBRARY is not passed to vtkRenderingOpenVR"
Python lib location is not passed to project, and configure fails.

[2019-01-17 16:06] #64 closed

[2019-01-31 17:30] lgroves6 opened #66 "Option to access video feed from stero cameras (VIVE PRO)"
Adam Rankin edit:

[2019-01-31 22:51] cpinter commented on #66
This will be awesome!
Please check if the OpenVR version used by the SlicerVR master contains these functions. If not then we'll need to update (I already did not too long ago from 1.0.9 to 1.0.16 which is currently used by the extension)

[2019-02-05 15:52] dzenanz commented on #28
I am using Slicer 4.10.1, and I could not figure out how to "move" the volume rendered image "closer" to me using Oculus controlers. I think I found how to scale the world and maybe rotate it around me. Is this still a problem, or I just did not figure out the controls yet?

[2019-02-05 16:02] lassoan commented on #28
You can pull the model towards you (the same way as you translate/rotate). You can also fly closer.

If you make the model scale very large then you may feel that you don't get much closer by pulling it with two controllers. It is because if the object is 100m away and you pull it closer by 50cm then you don't see much size change. You can set the scale 1:1 or smaller using the slider on the GUI.

[2019-02-05 18:01] dzenanz commented on #28
There seems to be a limit how close I can pull the model towards me. But I can fly closer to it, and even into it, which is a sort of a work-around.

[2019-02-05 18:09] lassoan commented on #28
There is no such limit. What makes you feel that there is a limit?

[2019-02-05 19:39] adamrankin commented on #28
This sounds like the same behaviour when zooming in the 3D window. There is
a finite distance you can zoom in Slicer.

On Tue, Feb 5, 2019 at 2:28 PM Dženan Zukić <notifications@github.com>
wrote:

[2019-02-05 19:50] dzenanz commented on #28
I cannot zoom in as close as shown [here](https://youtu.be/F_UBoE4FaoY?t=179). I don't hit the near clipping plane without flying into the volume, and even then the near clipping plane is very close to the eye so it is hard to see anything.

[2019-02-05 19:53] lassoan commented on #28
Only the zoom has a fixed range, so probably you think you are grabbing and pulling it closer but you actually zoom in. I would recommend to scale down the object of interest to about a 10x10x10cm cube (by two-handed grab) and pull it to be right in front of you (between your hands), then scale up (by two-handed grab).

[2019-02-05 20:02] dzenanz commented on #28
This is the part I haven't figured out yet. What control does that? I only found "two handed grab" and "flying" (the right joystick). As far as I can tell, the other controls (one-handed grab, A, B, X, Y buttons and left joystick) don't do anything. "Oculus" and "Menu" buttons invoke Oculus-specific menus.

Also, the readme might need an update in section [how-to-set-up-my-oculus-rift-headset](htt

[2019-02-05 20:04] lassoan commented on #28
First scale it down. It makes all distances small, so with two-handed grab you can easily and pull it to right in front of you. For this pulling, keep your hands at a fix distance from each other (to not alter the scaling), reach out, press the buttons, bring the object to you, and release the buttons.

[2019-02-05 20:10] lassoan commented on #28
Also note that when you are inside an object then pressing the grab button will grab the object itself. You can disable this by right-click on the object in Data module and uncheck "Toggle selectable".

[2019-02-05 20:17] dzenanz commented on #28
This was the trick! I guess I subconsciously widened my hands as I moved them closer, thus maxing out the scaling relatively quickly.

Now I feel like I have a good grasp of the controls. Thanks!

[2019-02-05 20:21] lassoan commented on #28
Great! Could you try add some notes to the [README.md](https://github.com/KitwareMedical/SlicerVirtualReality/blob/master/README.md) to help others understanding the behavior right away? (anything that would have helped you if it was available)

[2019-02-05 20:21] lassoan commented on #28
Should we lock scaling by default?

[2019-02-05 21:30] dzenanz commented on #28
PR #67 for readme update.

[2019-02-05 21:50] cpinter commented on #28
I think scaling is essential when you do two-handed world manipulation, just because of the issue discussed above. You need to be able to scale your movements. I think what would solve this confusion is a platform under the scene that has a fixed size in the physical coordinate system (so when you scale the world up it seems to be shrinking). That would solve a lot of problems because then you'd s

[2019-02-21 18:06] adamrankin commented on #61
@jcfr Sorry to hassle, but any update available?

[2019-02-21 18:11] jcfr commented on #61
@adamrankin At that time resources is quite sparse to address issues like this one, at that stage I only have funding to move forward with the Python3 transition of Slicer. And I am working on having resources to support the c++11 transition.

[2019-03-04 20:45] adamrankin commented on #55
Merge request is here:

https://gitlab.kitware.com/vtk/vtk/merge_requests/5268

If it gets accepted, could we cherry pick it into Slicer?

[2019-03-04 20:46] adamrankin opened #68 "Expose OpenVR camera as a vtkMRMLCameraNode"
It would be nice if this was implemented, so that we could parent a transform to the OpenVR camera in Slicer.

@jcfr @lassoan any opinion on how much work this would be? I haven't yet started digging

[2019-03-04 22:05] lassoan commented on #68
Matching cameras to views is quite a tricky logic, it would be better not to mess with that. Also, camera positioning by transforms relative (does not set absolute position/orientation).

I would recommend to add a manual camera control feature to virtual reality module, which would observe a transform and set absolute camera position from that.

[2019-03-05 14:11] adamrankin commented on #68
That's what my initial exploration had told me, I was just hoping you had some magic solution.

I will add that behaviour to the VR module.

[2019-03-05 15:01] adamrankin commented on #55
@jcfr would it be possible to cherry pick
502cf75e60b2b9274f0e8b5a60bc9f8bc81100a1

I didn't properly squash my MR before they merged it, so there's 4 commits involved, but perhaps you can get away with just cherry picking that one?

[2019-03-05 15:11] adamrankin commented on #68
@lassoan Should I still use the MRML node reference subsystem, or bypass it?

[2019-03-05 16:15] jcfr commented on #55
All set. Thanks for contributing fix to VTK :pray:

Slicer/VTK fork has been [updated](https://github.com/Slicer/VTK/commits/slicer-v8.2.0-2018-10-02-74d9488523). See also corresponding Slicer change: [r27992](http://viewvc.slicer.org/viewvc.cgi/Slicer4?view=revision&revision=27992)

[2019-03-05 16:15] #55 closed

[2019-03-05 16:18] lassoan commented on #68
If you want to make this a developer-only API (not exposed on the GUI, only accessed via a module, setting not saved in the scene) then you can do it any way you want. There is no need for node references, just make sure you can get access to the VTK API that stops automatic camera updates and you can inject custom camera pose.

If you want to be able to save settings in the scene, implement this

[2019-05-15 06:55] lucabror opened #70 "SlicerVirtualReality in Unity3D"
Hi,
Congrats for this 3DSlicer extension.
Is it possible to visualize this tool inside Unity 3D environment?
This could be very useful for some additional UI functions.
Thank you
Luca

[2019-05-15 12:16] lassoan commented on #70
Unity is a completely different framework, you cannot utilize it in Slicer in any way. We are constantly improving SlicerVirtualReality (adding 3D markup manipulation, immersive GUI widgets, laser pointer, etc). Your inputs and contributions are welcome.

[2019-05-18 08:44] lucabror opened #71 "Moving forward and backward using lever (joystick-teleport) on my controller"
I was able to view the Volume Rendering of a CT exam with my Windows Mixed Reality viewers.
I would like to know if it is possible to move within the three-dimensional scene using the joystick (teleport) present on the display controllers. Currently to move I have to force my visors to move while I would like to go back and forth (in a fluid and not fragmented way) using the joystick on the contro

[2019-05-18 12:08] cpinter commented on #71
Teleport is only possible if you can show the user where to teleport who accepts or adjusts the location. Since we don't hav a floor currently, teleporting would only be possible on the surface of an object, which does not make much sense in a medical application. We plan to add a floor though, after which teleport could be also implemented.

[2019-05-18 12:16] cpinter opened #72 "Add floor"
Currently users have problems differentiating between "huge object very far" and "normal sized object close". This results in them unsuccessfully trying to reach out into objects that are magnitudes further than their arms can reach. The main reason for this is that they don't have any reference to which they can relate the displayed scene to.

A floor could address this problem. We talked with @l

[2019-05-18 12:17] cpinter commented on #71
I added a ticket that you can follow here:
https://github.com/KitwareMedical/SlicerVirtualReality/issues/72

[2019-05-18 12:26] lassoan commented on #71
@lucabror Have you tried to move around by flying and pan/zoom the world by two-handed grabbing?

[2019-05-23 01:51] drouin-simon commented on #72
I would go for a whole box (room) rather than just a floor. This way, no matter where you look, you experience perspective in stereo, which is very powerful to get a sense of space.

[2019-05-23 12:53] adamrankin commented on #72
Depending on how generous you're feeling, would you consider adding UI elements for floor/wall colour and, even crazier, texture from file?

A number of our collaborating vision scientists want this feature (not urgently, luckily).

[2019-05-23 13:31] lassoan commented on #72
The main clue we want to give is your height (distance from floor) compared to size of displayed objects, so we will focus on that first, but we should choose a design that will allow adding walls without too much effort.

[2019-05-23 15:26] jcfr commented on #43
To follow up on this, @martinken recently added classes to VTK for adding Qt widget into the VR scene:
* [vtkQWidgetRepresentation.h](https://github.com/Kitware/VTK/blob/master/GUISupport/Qt/vtkQWidgetRepresentation.h)
* [vtkQWidgetTexture.h](https://github.com/Kitware/VTK/blob/master/GUISupport/Qt/vtkQWidgetTexture.h)
* [vtkQWidgetWidget.h](https://github.com/Kitware/VTK/blob/master/GUISupport/Qt

[2019-05-23 17:12] cpinter commented on #43
@jcfr Perfect! @mohammadrashid0917 just started working on this. We'll re-adjust the plan to use these classes. Mohammad, please hang on. In the meantime you can look at these classes.

[2019-05-23 17:27] lassoan commented on #43
@jcfr We were lucky this time that minimal/no work was duplicated, but we need to coordinate a bit more closely to make sure we avoid parallel efforts. How could we do that? Where can we find planned VTK virtual reality developments? Do you have a category in the VTK bugtracker, labs page, …?

[2019-05-23 17:28] #70 closed

[2019-05-23 18:25] jcfr commented on #43
The plan described at the top of this issue is outstanding. I should probably have done a better job communicating about it with folks working on OpenVR at Kitware.

Moving forward, I think sharing the plan like the one at the top of this issue on VTK discourse would help.

Internally, the folks working on OpenVR features know that I am coordinating effort on the Slicer side and I think it worked

[2019-05-23 18:49] jcfr commented on #43
To follow up, here is a Slicer PR backporting the specific VTK changes to Slicer/VTK fork. See https://github.com/Slicer/Slicer/pull/1141

[2019-05-28 20:23] cpinter commented on #48
The change https://github.com/Slicer/Slicer/commit/e9f25f8c980e6e9b933518bb472f89858b3f0fe3#diff-24559decf1956a02b77a9321e64cfadd solved this issue. Closing.

[2019-05-28 20:23] #48 closed

[2019-05-28 20:26] cpinter commented on #48
Actually I think it was rather this one https://github.com/Slicer/Slicer/commit/2a5d8dc43197e6b9a49184a917d204d03bdd95b7#diff-935cfa1ad640cc957cd6fb1519cc08db.

The point is that this has been fixed by subject hierarchy driving the common model display properties.

[2019-08-30 18:10] adamrankin opened #75 "VR view node not restored on scene load"
Well, the value is saved, but the VR view node is not restored on scene reload.

[2019-10-09 02:47] chene77 opened #77 "VR_Init FailedUnable to init VR runtime: Interface Not Found (105)"
hi,

In the last few nightly (Oct 02/05/07) the SlicerVirtualReality is unable to connect to the steamVR.

When clicking on "connect to hardware", I get "connection failed" in red. The debug/warning message says:
-------------------------
Switch to module:  "VirtualReality"
this->DisplayableManagerGroup 8
VR_Init FailedUnable to init VR runtime: Interface Not Found (105)

Failed to initialize Open

[2019-10-10 13:35] chene77 commented on #77
On the same boot, no reboot. Using HTC VIVE Pro

Sent from Mail for Windows 10

From: Adam Rankin
Sent: October 9, 2019 10:31 AM
To: KitwareMedical/SlicerVirtualReality
Cc: Elvis Chen; Author
Subject: Re: [KitwareMedical/SlicerVirtualReality] VR_Init FailedUnable toinit VR runtime: Interface Not Found (105) (#77)

When the hardware worked for stable, was on the same boot? Aka, you didn't reboot be

[2019-10-10 13:38] adamrankin commented on #77
Do you have a reliable repro setup? If so, when you get back I can
investigate.

On Thu, Oct 10, 2019 at 9:35 AM Elvis Chen <notifications@github.com> wrote:

[2019-10-13 03:31] lassoan commented on #77
This is probably because you updated SteamVR and it is no more compatible with the OpenVR SDK that SlicerVirtualReality extension is built with.

@cpinter mentioned that he had to update OpenVR DLLs on his system manually. Probably he will push a fix soon.

[2019-10-13 18:05] cpinter commented on #77
Indeed. Please hang on, I'll update OpenVR asap.

[2019-10-14 14:07] cpinter commented on #77
I updated OpenVR and tested it successfully with a recent Slicer (28534). Please try it tomorrow with the nightly preview.

[2019-10-19 23:43] cpinter commented on #77
Any news about this? It seems to work now, so I'm going to close the issue unless there are further comments.

[2019-10-19 23:59] lassoan commented on #77
Unfortunately, it did not work for SlicerHeart group. Have you tested the factory-built extension?

[2019-10-20 00:01] cpinter commented on #77
I only tested it with what I built. Have you?

[2019-10-20 03:38] lassoan commented on #77
Hanna at CHOP tested it and wrote this:

I don't think this is working yet.

I downloaded the latest release of Slicer (10/17 version) and updated Steam. I downloaded the Slicer VR module successfully, but after trying to start VR I see a red "X" on the icon.

This is the error message in Slicer:

[code]

Is there anything else we are supposed to download/update for this?

Thank you.

[2019-10-20 12:35] cpinter commented on #77
Not sure what this has to do with VR, it seems like a generic OpenGL error. Of course the fact that VR does not work and this error shows up just when trying to start it means that there is connection. I'll try it on Monday with a nightly install.

What is the data they want to visualize? Anything new or bigger than before, or just the usual?

[2019-10-20 13:21] lassoan commented on #77
It is just the usual rendering, which worked before. Quite small volumes. We should test on more computers tomorrow, with the factory-built release.

[2019-10-21 14:33] cpinter commented on #77
I tried the latest nightly that has SlicerVR (yesterday the Windows extension builds failed), and it works for me. I used an Acer WMR headset.

I noticed in the past that sometimes if Slicer started SteamVR, then it did not work and needed to restart Slicer (having an up and running SteamVR) to make it connect properly. Maybe they could try that.

[2019-10-22 14:29] #77 closed

[2019-10-24 19:24] #75 closed

[2021-01-07 11:00] cpinter commented on #52
Could be worth looking at: https://vtk.org/doc/nightly/html/classvtkInteractorStyleTerrain.html

[2021-01-07 14:27] adamrankin opened #80 "Add support for OpenXR"
Long-term ticket to start the discussion about adding support for OpenXR

Major tasks:

- OpenXR support in VTK
- Create abstract VR API in VTK?
- Transition to abstract API in SlicerVR **OR** Transition to OpenXR API in SlicerVR

Reason:
- Unity drops Open VR support [here](https://blogs.unity3d.com/2020/01/24/unity-xr-platform-updates/)
- Valve eventually moving to OpenXR [here](https://steamcom

[2021-01-11 16:49] cpinter commented on #80
It would be great to support OpenXR indeed. For extra motivation [here](https://www.khronos.org/conformance/adopters/conformant-products/openxr) are the list of devices supporting it (e.g. Oculus Quest, HoloLens).

[2021-03-28 01:29] smallvalthoss opened #81 "updateViewFromReferenceViewCamera() with the ui's current magnification"
I'm wondering if it's possible to get the magnification to be that of the 3D view's magnification. So that they would be in the same spot.

[2021-06-10 02:57] #61 closed

[2021-06-10 02:58] #60 closed

[2021-06-10 02:58] #68 closed

[2021-06-10 03:00] adamrankin opened #82 "Update to new VTK module system"
This commit appears to have broken the build for us:
https://gitlab.kitware.com/vtk/vtk/-/commit/140f8d8bcd85cedd7ac996c806f984add70bb11d

I can look into it, but any hints towards other projects that use an external module after VTK has been built would be very helpful.

[2021-06-10 09:23] cpinter commented on #61
@adamrankin Can you please give some context about why you closed the ticket? Has this been resolved, if yes, how?

[2021-06-10 12:12] adamrankin commented on #61
With #82, and if I understand it correctly, I think we will have to rewrite the CMake to be a separate project that uses VTK (and not an external module). In that case, we will be using the VTK module commands which include python wrapping.

[2021-06-10 12:13] adamrankin commented on #82
Relevent:
https://discourse.vtk.org/t/remote-modules-vs-external-modules/2003

[2021-06-10 14:31] cpinter commented on #61
Thanks for the context. So it seems that this issue is neither fixed nor impossible/outdated, so it is still something to happen. Usually I like tickets to be kept open until it is confirmed it is fixed, but since we can assume wrapping will be implicitly added, I'm OK with this having been closed.

[2021-07-12 13:07] TreckZero opened #86 "Add support for Multi-GPU processing"
I'm wondering if it's possible to get multiple GPUs working in parallel to make the load lighter when working on higher detail data sets.

[2021-07-12 13:38] lassoan commented on #86
In theory [VR multi-GPU rendering support](https://developer.nvidia.com/blog/vr-sli-accelerating-opengl-virtual-reality-multi-gpu-rendering/) could be implemented. However, the number of systems with compatible multi-GPU configurations is so low, that it is not worth investing time into developing, testing, and maintaining this. For the same reason, game developers don't implement support for it e

[2021-07-12 13:38] #86 closed

[2021-10-25 15:40] cpinter opened #88 "Flying stopped working"
In the past, when pushing the joystick on the controller forward/backwards it was possible to move in the scene by flying. It does not seem to work anymore.

Slicer rev30277, Windows 10, latest SlicerVR master (actually [this branch](https://github.com/cpinter/SlicerVirtualReality/tree/gui-widgets-module) but it is based on the latest master and it does not make any changes in the VirtualReality m

[2022-01-12 13:19] cpinter commented on #43
We have made some good progress on the GUI widget and the laser pointer. Basically we created a new GUI widget markup that uses a different way to render the Qt widget on the VTK plane as texture (not the shared context as it is in VTK, which crashed when used in Slicer), and we added a little test module that creates a "laser pointer" (just a line) the intersection of which to the Qt widget is ca

[2022-01-19 21:09] adamrankin commented on #43
@cpinter do you have any links to the paraview pieces/issues/PRs?

[2022-01-19 21:47] cpinter commented on #43
I don't. I'd just search for usage of vtkQWidgetWidget. Although it doesn't
work in Slicer because the context sharing method is somehow not
compatible, we could see how the laser pointer is implemented etc.

On Wed, Jan 19, 2022, 21:09 Adam Rankin ***@***.***> wrote:

[2022-03-02 14:58] cpinter commented on #88
@lassoan 's comment:

/home/jcfr/Projects/SlicerVirtualReality/VirtualReality/MRML/vtkVirtualRealityViewInteractor.h:43:16: error: ‘virtual void vtkVirtualRealityViewInteractor::RecognizeComplexGesture(vtkEventDataDevice3D*)’ marked ‘override’, but does not override
43 | virtual void RecognizeComplexGesture(vtkEventDataDevice3D* edata) override;

[2022-03-22 20:57] jcfr opened #91 "Address issues related to integration with VTK 9.1"
_The following content was copied from https://github.com/KitwareMedical/SlicerVirtualReality/pull/90#issue-1151637803_

----

### (1) Retrieval of last position associated with generic tracker

Retrieval of last position associated with generic tracker in
`vtkVirtualRealityViewInteractor::GetTrackedDevicePose` given
the index is not possible.

**:warning: TODO**: Handle retrieval of tracker posit

[2022-04-06 14:12] cpinter commented on #91
I just got around to try the latest versions. The biggest issues I encounter are:

- [ ] Continuous error logging `DelegateInteractionEventToDisplayableManagers: Unrecognized device` in the console. I debugged into it a while ago and there was no apparent easy solution. More work is needed
- [ ] Volume rendering does not show up in VR, but models/segmentations do. I confirmed that on the same mach

[2022-04-08 15:31] cpinter commented on #91
@lassoan had the idea to check if volume rendering shows up with CPU rendering. It does not.

[2022-04-08 22:28] lassoan commented on #91
Sometimes you need to disable and re-enable depth peeling to make volume rendering show up. Does it help?

You can also try to disable volume rendering in all views except in the VR view, add breakpoints in the volume rendering mapper and see if it gets called.

[2022-04-13 09:42] cpinter commented on #91
These two didn't work. I'll debug into the mapper once the build succeeds (but on the VR computer the debug build failed many times due to an external data timeout. I updated and started the build again)

[2022-04-26 15:22] jcfr opened #92 "Update extension to display message indicating lack of macOS supportm and developer support on Linux"
Since OpenVR is only available and functional on Windows, a scripted module with a name similar to the loadable one could be conditionally built and installed.

Per platform status
* Last macOS OpenVR libraries were released in 6 years ago. See https://github.com/ValveSoftware/openvr/tree/v1.16.8/lib
* Linux libraries are available and there is a Slicer extension package though SteamVR only has li

[2022-04-27 12:36] #92 closed

[2022-04-28 20:07] jcfr opened #95 "Generalize per-platform support introducing PLATFORM_SUPPORTS_VR option"
Thank you, looks good. Nitpick: instead of using `if(APPLE)` at two different places, it would be nicer to set a variable like `PLATFORM_SUPPORTS_VR` once (set it to FALSE if APPLE, TRUE otherwise) and use that value at both places. I did not introduce this variable in the original commit because the check was done at one place and it was possible to explain that in a comment there.

_Originally p

[2022-09-06 16:08] ViciousDove19 opened #97 "Quest 2 support"
Hello, may I know if this extension is compatible with Oculus Quest 2?

[2022-09-27 09:32] steffen-o opened #98 "Controller not working for Pico VR-Device"
Hi,

I've tried the Slicer Virtual reality module with the Pico neo 3 pro VR glasses and it is amazing!
I can walk in the scene and watch my models. Unfortunately, I can't move the scene with the controller. They show up in SteamVR just fine and I can see them in SlicerVR but I cannnot do anything with them - I've tried every combination in the Controller section in the github page. Do I need to c

[2022-10-13 20:25] jcfr opened #101 "Add external project to build vtkRenderingOpenXRRemoting"

[2022-10-21 13:51] adamrankin commented on #101
Linking this to #80

[2022-11-07 01:53] surgeyu commented on #98
Hi Steffen,

I tried the new Pico4 wiht Slicer 5.0.3 VR and steamvr , it doesn't work at all.
The headset glasses prompted a msg missing a json file, and went black.  Have you met the same issue, and do you have some suggestion about the configraution?

thanks

[2022-11-14 09:08] steffen-o commented on #98
Hi,

could you connect the VR-glasses successfully with SteamVR? A while ago, there were many different versions of Pico Link software - and some did not connect with the VR-glasses. The version provided in the Steam store worked for me. do you see the SteamVR Lobby when you connect?
When starting Slicer VR it shows a warning message "action manifest for SlicerApp-real was not found" in steam VR b

[2022-11-29 10:23] cpinter opened #102 "3D pinch interaction and grab object interactions do not work"
* Build the latest Slicer 5.3.0 with the latest SlicerVR
* Copy the manifest json files into the folder of Slicer.exe
* Start VR
* I used an HP Reverb 2 headset

None of the interactions worked, including flying, grab&move objects, and 3D pinch. The latter two at least worked a few months ago. Maybe some of the latest commits in VTK or here broke them?

I updated OpenVR to the latest version and t

[2022-11-29 10:24] cpinter commented on #97
I haven't tried it but got a feedback yesterday that it works tethered to PC using SteamVR.

[2022-11-29 10:24] #97 closed

[2022-11-29 10:29] cpinter commented on #98
It seems that other devices also don't work. See #88 and #102

[2022-11-30 10:12] cpinter commented on #102
This is due to the `RecognizeComplexGesture` function being commented out since https://github.com/KitwareMedical/SlicerVirtualReality/commit/1c36e4031f32e0cd552c5ef027cf5be420fbc5e1